<!DOCTYPE html>

<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Pathway+Gothic+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="../css/main.css">
<meta charset="UTF-8">
    
<title>Last Gate :: Please Login</title>
</head>

<body>
    <div id="login_wrapper">
        <div id="header_text_login">Welcome to Last Gate, Please login below!<br /> Last Gate is a 2D Online MMORPG. Join the quest, shag a bird and do the shake shake</div>
        <div id="loginbox">
            <div id="login_header_text"><p>Pellentesque habitantdsdsd morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p></div><!-- END OF LOGIN HEADER -->
            
            <!-- USER NAME -->
            <input type="text" id="username_fld" placeholder="Username" /> <br />
            
            <!-- PASSWORD -->
            <input type="password" id="password_fld" placeholder="Password"/> <br />
            
            <!-- SUBMIT -->
            <input type="submit" id="login_btn" value=""/>
            
        </div><!-- END OF LOGIN BOX -->
    </div> <!-- END OF LOGIN WRAPPER -->
</body>

</html>
