<div id="login_wrapper">
    <div id="header_text_login">Welcome to Last Gate, Please login below!<br /> Last Gate is a 2D Online MMORPG. Join the quest, shag a bird and do the shake shake</div>
    <div id="loginbox">
        <div id="login_header_text"><p>Pellentesque habitantdsdsd morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p></div><!-- END OF LOGIN HEADER -->
     
<!-- FORM EMPTY VALIDATION -->

        <!-- USER NAME -->
        <form id="login_form" name="login_form" >
        <input type="text" id="username_fld" name="username_fld" placeholder="Username" /> <br />
        
        <!-- PASSWORD -->
        <input type="password" id="password_fld" name="password_fld" placeholder="Password"/> <br />
        
        <!-- SUBMIT -->
        <input type="submit" name="login_btn" id="login_btn" value=""/>
        </form>
        
    </div><!-- END OF LOGIN BOX -->
</div> <!-- END OF LOGIN WRAPPER -->
