<!DOCTYPE html>

<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="../css/main.css">
<meta charset="UTF-8">
    
<title>Last Gate :: Please Login</title>
</head>

<body>
    <div id="login_wrapper">
        <div id="loginbox">
            <div id="login_header_text"><p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p></div><!-- END OF LOGIN HEADER -->
            <input type="text" id="username_fld" placeholder="Username" /> <br />
            <input type="password" id="password_fld" placeholder="Password"/>
        </div><!-- END OF LOGIN BOX -->
    </div> <!-- END OF LOGIN WRAPPER -->
</body>

</html>